<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true" stderr="true">
    <testsuites>
        <testsuite>
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/</directory>
            <directory suffix=".php">./auth/</directory>
        </whitelist>
    </filter>
</phpunit>