body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12pt;
}
h3 {
  padding-bottom: 23px;
}
.title {
  border-bottom: 1px solid #000;
}
.header div {
  padding: 10px;
  text-align: center;
}
.bot {
  margin-bottom: 23px;
}
.bot h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.bot p,
.bot li {
  color: #FFF;
}
.dkpbot {
  background-color: #ed6d30;
}
.tipbot {
  background-color: #006ca2;
}
.punbot {
  background-color: #fddb73;
}
.punbot h3 {
  color: #000;
  border-bottom: 1px solid #000;
}
.punbot p,
.punbot li {
  color: #000;
}
.channelpolicebot {
  background-color: #646464;
}
.triggerbot {
  background-color: #b9e9f7;
}
.triggerbot h3 {
  color: #000;
  border-bottom: 1px solid #000;
}
.triggerbot p,
.triggerbot li {
  color: #000;
}
